@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap&#39');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#FFFDFB;
    text-decoration: none;
    list-style: none;
    font-family: "Boogaloo", sans-serif;
}

body{
    background-color: #68489D;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

li{
    margin-right: 20px;
}

.Logo{
    width: 150px;
    display: flex;
}

.Logo img{
    width: 80px;
}

img{
    width: 100%;
}

section{
    background-image: url('../img/banner.png');
    height: 71dvh;
    background-size: 100% 100%;
}

.Logotipo{
    font-size: 1.5rem;
}

h1{
    font-size: 4rem;
    display: flex;
    margin-top: 130px;
    margin-left: 150px;
    width: 350px;
}

.amarelo{
    font-size: 1.3rem;
    width: 200px;
    height: 60px;
    border-radius:200px;
    margin-left: 220px;
    margin-top: 40px;
    background-color: #e2e212;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}